<h1> The sounds you added: </h1>
<table>
  <tr>
    <th>What</th>
    <th>Where</th>
    <th>Date</th>
    <th>Hour</th>
    <th>Description</th>
  </tr>
  {{#each sounds}}
  <tr>
    <td>{{what}}</td>
    <td>{{where}}</td>
    <td>{{date}}</td>
    <td>{{hour}}</td>
    <td>{{desc}}</td>
  </tr>
  {{/each}}

</table>
