<h1>Filter</h1>
<form method='GET' action='/filter'>
  What: <input type='text' name='what'>
  <br>
  Where: <input type='text' name='where'>
  <br>
  Date: <input type='text' name='date'>
  <br>
  Hour: <input type='text' name='hour'>
  <br>
  <input type='submit'>
</form>
<br>
<h1> Sounds: </h1>
<table>
  <tr>
    <th>What</th>
    <th>Where</th>
    <th>Date</th>
    <th>Hour</th>
    <th>Description</th>
  </tr>
  {{#each sounds}}
  <tr>
    <td>{{what}}</td>
    <td>{{where}}</td>
    <td>{{date}}</td>
    <td>{{hour}}</td>
    <td>{{desc}}</td>
  </tr>
  {{/each}}

</table>
